/* #031033 
https://images.hdqwalls.com/download/dog-minimalism-10k-vg-5120x2880.jpg
*/
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: bitter;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: Roboto;
}

h1 {
    text-align: center;
    color: white;
    font-family: Freckle Face;
}

p {
    font-size: 3vmin;
    color: white;

}
h3 {
    color: white;
    font-size: 3vmin;
    font-family: Freckle Face;
}
.colorcontainer {
    background-color: #031033;
    display: grid;
    background-image: url(https://images.hdqwalls.com/download/dog-minimalism-10k-vg-5120x2880.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows:  56.5vw repeat(4, minmax(auto, auto));
    grid-gap: 1vh;
}
/* header */
header {
    position: fixed;
    background-color: white;
    opacity: 0.3;
    width: 100%;
    height: 1fr;
    z-index: 2;
}

ul{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
}
li {
    text-decoration: none;
    margin: 0 10px;
    font-family: Freckle Face;
}
a { 
    margin: 0 5px;
    color: black;
    text-decoration: none;
    padding: 10px 0;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
}
a:hover {
    color: orange;
}

button {
    min-width: 40%;
    max-width: 100%;
    height: 5vmin;
    text-align: center;
    background: #4A5F99;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 1vmin;
}
/* header */

/*intro*/
.intro{
    display: grid;
    grid-column: 1/-1;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6,1fr);
    font-family: Freckle Face;
}
.intro h1{
    font-size: 5vmin;
    grid-column: 1/3;
    grid-row: 2/3;
}

.intro h3 {
    grid-column: 5/6;
    grid-row: 4/5;
}

.contact {
    grid-column: 6/6;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact img {
    height: 7vmin;
    text-decoration: none;
}
/*intro*/

/*about*/
.whoiam {
    margin-top: -10vh;
    padding: 30vh 10vh;
    display: grid;
    grid-template-columns:  2fr 6fr ;
    opacity: 0;
    transform: translateY(20px);
    transition: opcity 3s ease-in;
    grid-column: 1/-1;
}

.whoiam.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}
.myphoto {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
}

.myphoto img {
    height: 20vmin;
}

.whoiam h1{
    grid-column: 1/-1;
}

.description {
    padding-left: 3vw;
    grid-column: 2/2;
}
/*about*/


/*edu*/
.edu {
    padding: 30vh 10vh;
    margin-top: -10vh;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-column: 1/-1;
    grid-row-gap: 5vh;
    color: white;
    opacity: 0;
    transform: translateY(20px);
    transition: opcity 3s ease-in;
}

.edu.element-show{
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);

}
.edu h1 {
    grid-column: 1/-1;
}

.urfu{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: 1/3;
}

.urfu img {
    width: 15vmin;
    height: 15vmin;
}

.hse{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column: 1/3;
}

.hse img {
    grid-column: 2/2;
    height: 15vmin;
}

.logo {
    display: flex;
    justify-content: center;
}
/*edu*/

/*Projects*/
.projects {
    grid-column: 1/-1;
    margin-top: -10vh;
    padding: 10vh 10vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5vh;
    color: white;
    opacity: 0;
    transform: translateY(20px);
    transition: opcity 3s ease-in;
}
.projects h1 {
    grid-column: 1/-1;
}
.cards{
    text-align: center;
    color: white;
}
.cards img {
    height: 30vmin
}
.projects.element-show{
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

/*Projects*/


/*location*/
.location {
    margin-top: -10vh;
    padding: 20vh 10vw;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    opacity: 0;
    transform: translateY(20px);
    transition: opcity 3s ease-in;
    grid-column: 1/-1;
}

.location.element-show{
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

.headloc {
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.location img {
    height: 10vmin;
}

.map {
    grid-column: 2/-1;
}

.location p {
    grid-column: 2/3;
    font-size: 2vmin;
}

/*location*/
footer {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: white;
    opacity: 0.3;
    color: black;
    font-family: Freckle Face;
    grid-column: 1/-1;
}

/*meadia*/

@media (max-width: 560px) {
    header {
        height: auto;
    }
    header a {
        font-size: 1rem;
    }

    .intro h1{
        font-size: 5vmin;
        grid-column: 2/2;
        grid-row: 3/4;
    }
    
    .intro h3 {
        grid-column: 5/6;
        grid-row: 4/5;
        font-size: 3vmin;
    }

    /*nexy*/
    .whoiam {
        margin-top: -10vh;
        padding-top: 10vh;
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        opacity: 0;
        transform: translateY(20px);
        transition: opcity 3s ease-in;
        grid-column: 1/-1;
    }
    
    .myphoto {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1/-1;
    }

    .description {
        grid-column: 2/2;
    }
/*next*/
    .edu {
        padding-top: 10vh;
        margin-top: -10vh;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-column: 1/-1;
        grid-row-gap: 5vh;
        color: white;
        opacity: 0;
        transform: translateY(20px);
        transition: opcity 3s ease-in;
    }

    .urfu{
        display: grid;
        grid-template-columns: 1fr ;
        grid-column: 2/2;
        font-size: 4vmin;
    }
    
    .urfu img {
        grid-column: 1/-1;
        width: 15vw;
        height: 15vw;
    }
    
    .urfu p {
        grid-column: 1/-1;
    }
 
    .hse{
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 2/2;
        font-size: 4vmin;
    }
    .hse p{
        grid-column: 1/-1;
    }
    .projects {
        grid-template-columns: 1fr;
    }
}


@media (min-width: 560px) and (max-width: 1128px) {
    header {
        height: auto;
    }
    header a {
        font-size: 1rem;
    }

    .intro h1{
        font-size: 5vmin;
        grid-column: 2/2;
        grid-row: 3/4;
    }
    
    .intro h3 {
        grid-column: 5/6;
        grid-row: 4/5;
        font-size: 3vmin;
    }

    /*nexy*/
    .whoiam {
        margin-top: -10vh;
        padding-top: 10vh;
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        opacity: 0;
        transform: translateY(20px);
        transition: opcity 3s ease-in;
        grid-column: 1/-1;
    }
    .myphoto {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1/-1;
    }
    
    .myphoto img {
        height: 20vmin;
    }
    
    .whoiam h1{
        font-size: 5vmin;
    }
    
    .description {
        grid-column: 2/2;
        color: white;
        line-height: 7vmin;
        font-size: 3vmin;
    }
/*next*/
    .edu {
        padding-top: 10vh;
        margin-top: -10vh;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        grid-column: 1/-1;
        grid-row-gap: 5vh;
        color: white;
        opacity: 0;
        transform: translateY(20px);
        transition: opcity 3s ease-in;
    }
     
    .urfu{
        display: grid;
        grid-template-columns: 1fr ;
        grid-column: 2/2;
        font-size: 4vmin;
    }
    
    .urfu img {
        grid-column: 1/-1;
        width: 15vw;
        height: 15vw;
    }
    
    .urfu p {
        grid-column: 1/-1;
        font-size: 3vmin;
    }
    .hse p{
        grid-column: 1/-1;
        font-size: 3vmin;
    }
    .hse{
        display: grid;
        grid-template-columns: 1fr;
        grid-column: 2/2;
        font-size: 4vmin;
    }
    .projects {
        grid-template-columns: 1fr 1fr;
    }
}